:root {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}


/* Top navigation bar */
/* Logo */
#top-bar .logo {
    height: 1.75rem;
}

/* Search */
#top-bar form {
    position: relative;
}

#top-bar form div {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translate(0 , -50%);
    font-size: 1.25rem;
    pointer-events: none;
}

#top-bar input {
    width: 100%;
    height: 3rem;
    text-indent: 2.5rem;
    border-radius: .25rem;
    border: 0;
    background-color: #e5e5e5;
}

/* Options */
#top-bar .action {
    color: #585858;
}

#top-bar .action:last-child {
    color: #ff8f00;
}


/* BOTTOM CONTENT */
#bottom-content-wrapper {
    height: calc(100vh - 5rem);
}


/* Side navigation bar */
#side-bar {
    color: #ffffff;
    background-color: #051e34;
    background-image: url("../images/backgrounds/sidebar-bg.png");
}

#side-bar .action {
    font-size: 1.25rem;
}

#side-bar .action:hover {
    text-decoration: underline;
}

#side-bar .action .icon {
    width: 2rem;
}


/* Content */
/* Header */
header {
    color: #ffffff;
    background-color: #1b72e8;
}

header .btn {
    color: #ffffff;
    border-color: #ffffff;
}

header .btn:hover {
    color: #1b72e8;
    background-color: #ffffff;
    border-color: #ffffff;
}

header .rounded-pill {
    background-color: #00000040;
    font-size: .75rem;
    font-weight: 500;
}

.student-number {
    font-size: 2rem;
    font-weight: 500;
}

/* Classes section */
#classes img {
    height: 2rem;
}

/* Active users section */
#active-users a {
    text-decoration: underline;
    color: royalblue;
}